/*style do całości*/
* {
    font-family: 'Montserrat', sans-serif;
}

/*contact form*/
.for{
    margin-top:50px;
}
.form-area
{
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 40px 60px;
    border: 1px solid GREY;
}
/*koniec contact form*/
/*O nas*/
.flex-container_onas {
    display: flex;
}
.flex-item_onas {
    flex: 1;
}

.img-responsive {
    height: auto;
    max-width: 100%;
}
.flex-photo {
    position: relative;
}
.flex-photo:hover .p_onas {
    left: 10px;
    right: 10px;
}

.img-responsive:hover {
    opacity: 0.2;
    transition: 1s;
}
.p_onas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -9999px;
    color: black;
}
.p_onas, .flex-onas {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.flex-onas {
    color: black;
    background-color: white;
}
/*koniec o nas*/
/*cookies*/
#cookieInfo{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: #519fff;
    z-index: 1000;
}
#cookieInfo span {
    position: relative;
    left: 95%;
    top: 10px;
    font-size: 40px;
    color: red;
    cursor: pointer;
}
/*koniec cookies*/
/*social media*/
.fb {
    background-color:#00aced;
}
.tw {
    background-color:#3B5998;
}
.gplus {
    background-color:#d34836;
}
.btn:hover {
    color:white;
    background-color:#686f7a;
}
a:hover {
    text-decoration: none;
}
.float {
    float:right;
}
.icon {
    width:50px;
    height:50px;
    color:white;
}
/*koniec social media*/
/*menu*/
.menu-nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;
    background-color: #333;
    z-index:2;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu {
    float: left;
    z-index:2;
    padding-bottom:50px;
}
.menu-float-right {
    float: right;
}
a, label, input[type=submit] {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

}
/*.menu, .menu-float-right {
    display: block;
    padding: 14px 16px;

}
/*koniec menu*/
/*tło*/
.scroll-bg {
    background-image: url(Assets/Photos/girl-sitting-in-a-abus.jpg);
    height: 100vh;
    width:100vw;
    background: url(Assets/Photos/girl-sitting-in-a-abus.jpg) no-repeat scroll top;
    background-size: cover;
    opacity: 0.8;
}
/*koniec tła*/
/*zajawka*/
.zajawka {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
    height:70vh;
    display: flex;
    flex-direction: column;
}

/* nowe menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #7C9BCF;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px ;*/
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #7C9BCF;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*sekcje rozkładu jazdy*/
.rozkladjazdy {
    background-color: #333333;
    font-weight: bold;
    color: white;

}

.pzajawka, .divzajawka {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    font-size: xx-large;
    flex: 1;
}
.divzajawka:after {
    display: inline-block;
    margin: 0 0 52px 8px;
    height: 8px;
    content: " ";
    text-shadow: none;
    background-color: white;
    width: 200px;
}
.divzajawka:before {
    display: inline-block;
    margin: 0 8px 52px 0;
    height: 8px;
    content: " ";
    text-shadow: none;
    background-color: white;
    width: 200px;
}
/*koniec zajawki*/

