.red{
    color:red;
}
.form-area
{
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}
/*o nas*/
.column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
}

#cookieInfo{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #519fff;
    z-index: 1000;
}
#cookieInfo span{
    position: relative;
    left: 95%;
    top: 10px;
    font-size: 30px;
    color: red;
    cursor: pointer;

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}
/* dotyczy tła*/
.background-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    z-index: -100;
}

body {
    height: 5000px;
}

header {
    background: yellow;
    border: 1px solid black;
    position: fixed;
    left: 0;
    right: 0;
}


.text {
    color:black;
    font-size: 20px;
    font-family:"fantasy";
}

.box:hover .zdj {
    opacity: 0.2;
}

.box:hover .inside {
    opacity: 1;
}

.inside {
    transition: 1.5s ;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zdj {
    opacity: 1;
    display: block;
    width:100%;
    height:650px;
    transition: 1.5s ;
}

.box {
    position: relative;
    border-style:solid;
    border-width:2px 4px 2px 4px;
    border-color:red;
}

div.all {
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.main {
    background-color:darkred;
    width:100%;
    height:50px;
    text-align:center;
    font-size:50px;
    font-style: italic;
    color:silver;
    margin-bottom:0%;
    margin-top:0%;
    display: block;
    border-width:2px 2px 2px 2px;
    border-color:black;
    border-style: solid;
    box-sizing:border-box;
    padding-top:-30px;
}

p.content {
    font-size:20px;
    color:red;
}


